PORT=5000
NODE_ENV=production

# API SMS - Interactgroup
SMS_API_URL=http://sms.interactgroup.net/index.php
SMS_USER=
SMS_HASH=
SMS_FROM=

# API Iris - Guinea GCPIS MOFA
IRIS_BASE_URL=http://192.168.188.188/GCPIS/Apps/WebServices/CentralMOFANotification
IRIS_USERNAME=
IRIS_PASSWORD=

# Base de données
DB_PATH=./data/notifications.db

# JWT
JWT_SECRET=changez-ce-secret-en-production
